{% assign articles = site.data.articles.list %}
{% if articles %}
<section class="section article-section">
 
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ articles.title }}
  </h2>

  {% for article in articles.papers %}
  <div class="item">
    <a aria-label="{{ article.title }}" href="{{ article.link }}" class="alist">
      <div class="article-title"><b>{{ article.title }}</b></div>
    </a>
    <div class="article-conference">{{ article.description }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
