<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.title }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="About This Site" target="_blank" href="/about/"><i class="icon fa fa-solid fa-file-lines" aria-hidden="true"></i></a>
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Resume" target="_blank" href="/resume/"><i class="icon fa fa-solid fa-address-card" aria-hidden="true"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/{{ site.instagram }}"><i class="icon fa-brands fa-instagram-square" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/{{ site.facebook }} "><i class="icon fa-brands fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin }}/"><i class="icon fa-brands fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github }}"><i class="icon fa-brands fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Channel" target="_blank" href="https://www.youtube.com/channel/UChd3fbwaxm5HV10KcrRqHbg"><i class="icon fa-brands fa-youtube-square" aria-hidden="true"></i></a>
        <a aria-label="My Resume" target="_blank" href="/articles/"><i class="icon fa fa-solid fa-newspaper" aria-hidden="true"></i></a>
      </div>
  </div>
  <!-- <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>
