<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.title }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="About This Site" target="_blank" href="/about/"><i class="icon fa fa-solid fa-file-lines" aria-hidden="true"></i></a>
        <a aria-label="My Resume" target="_blank" href="/resume/"><i class="icon fa fa-solid fa-address-card" aria-hidden="true"></i></a>
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Resume" target="_blank" href="/articles/"><i class="icon fa fa-solid fa-newspaper" aria-hidden="true"></i></a>
      </div>
  </div>
</div>
