{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

    {% if sidebar.awscert %}
    <a target="_blank" href="{{ sidebar.awslink }}"><img src="{{ site.baseurl }}/assets/images/{{ sidebar.awscert }}" alt="certification" width="50%" height="50%"/></a>
    {% endif %}

    {% if sidebar.printer %}
    <br><a aria-label="Printer Friendly" target="_blank" href="{{ sidebar.resume }} "><i class="fa-solid fa-download" aria-hidden="true"></i></a>
    {% endif %}

  </div><!--//profile-container-->

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% if sidebar.skills %}
    {% include skills.html %}
  {% endif %}
  
  {% if sidebar.opensource %}
    {% include opensource.html %}
  {% endif %}

  {% if sidebar.projects %}
    {% include projects.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
