---
title: Dynatrace Event API
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}
<head>
  <link rel="stylesheet" href="{{ '/assets/css/markdown.css' | prepend: site.baseurl }}">
</head>
<body>
  <div class="wrapper">
    <div class="page-wrapper">
      <h2>Dynatrace Event API</h2>
      <p></p>
      <h3>Requirements</h3>
      <p></p>

      <h3>API Token</h3>
      <p></p>

      <h3>Request Body</h3>
      <p></p>

{% include scripts.html %}
</body>

</html>

